In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Car_Purchasing_Data.csv')

In [4]:
df

,Customer Name,Customer e-mail,Country,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,USA,0,42,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,USA,0,41,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,USA,1,43,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,USA,1,58,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,USA,1,57,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...,...,...,...,...
495,Walter,ligula@Cumsociis.ca,USA,0,41,71942.40291,6995.902524,541670.1016,48901.44342
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,USA,1,38,56039.49793,12301.456790,360419.0988,31491.41457
497,Pearl,penatibus.et@massanonante.com,USA,1,54,68888.77805,10611.606860,764531.3203,64147.28888
498,Nell,Quisque.varius@arcuVivamussit.net,USA,1,59,49811.99062,14013.034510,337826.6382,45442.15353
499,Marla,Camaron.marla@hotmail.com,USA,1,47,61370.67766,9391.341628,462946.4924,45107.22566

In [5]:
df.describe()

,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.506000,46.224000,62127.239608,9607.645049,431475.713625,44209.799218
std,0.500465,7.990339,11703.378228,3489.187973,173536.756340,10773.178744
min,0.000000,20.000000,20000.000000,100.000000,20000.000000,9000.000000
25%,0.000000,41.000000,54391.977195,7397.515792,299824.195900,37629.896040
50%,1.000000,46.000000,62915.497035,9655.035568,426750.120650,43997.783390
75%,1.000000,52.000000,70117.862005,11798.867487,557324.478725,51254.709517
max,1.000000,70.000000,100000.000000,20000.000000,1000000.000000,80000.000000

In [7]:
df.isna().sum()

Customer Name          0
Customer e-mail        0
Country                0
Gender                 0
Age                    0
Annual Salary          0
Credit Card Debt       0
Net Worth              0
Car Purchase Amount    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Customer Name        500 non-null    object
 1   Customer e-mail      500 non-null    object
 2   Country              500 non-null    object
 3   Gender               500 non-null    int64
 4   Age                  500 non-null    int64
 5   Annual Salary        500 non-null    float64
 6   Credit Card Debt     500 non-null    float64
 7   Net Worth            500 non-null    float64
 8   Car Purchase Amount  500 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 35.3+ KB

In [9]:
df["Country"].value_counts()

Country
USA    500
Name: count, dtype: int64

In [13]:
df["Customer Name"].value_counts()

Customer Name
Seth                    2
Walter                  2
Holloway, Brennan Q.    1
Morales, Halla M.       1
Dudley, Ryder M.        1
                       ..
Marvin Garner           1
Kermit Fuentes          1
Baker Saunders          1
Darius Herring          1
Graiden Powell          1
Name: count, Length: 498, dtype: int64

In [16]:
df.drop(["Customer Name", "Country", "Customer e-mail"], axis=1, inplace=True)

In [19]:
df

,Gender,Age,Annual Salary,Credit Card Debt,Net Worth,Car Purchase Amount
0,0,42,62812.09301,11609.380910,238961.2505,35321.45877
1,0,41,66646.89292,9572.957136,530973.9078,45115.52566
2,1,43,53798.55112,11160.355060,638467.1773,42925.70921
3,1,58,79370.03798,14426.164850,548599.0524,67422.36313
4,1,57,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...,...
495,0,41,71942.40291,6995.902524,541670.1016,48901.44342
496,1,38,56039.49793,12301.456790,360419.0988,31491.41457
497,1,54,68888.77805,10611.606860,764531.3203,64147.28888
498,1,59,49811.99062,14013.034510,337826.6382,45442.15353
499,1,47,61370.67766,9391.341628,462946.4924,45107.22566

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [22]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [23]:
X

     Gender  Age  Annual Salary  Credit Card Debt    Net Worth
0         0   42    62812.09301      11609.380910  238961.2505
1         0   41    66646.89292       9572.957136  530973.9078
2         1   43    53798.55112      11160.355060  638467.1773
3         1   58    79370.03798      14426.164850  548599.0524
4         1   57    59729.15130       5358.712177  560304.0671
..      ...  ...            ...               ...          ...
495       0   41    71942.40291       6995.902524  541670.1016
496       1   38    56039.49793      12301.456790  360419.0988
497       1   54    68888.77805      10611.606860  764531.3203
498       1   59    49811.99062      14013.034510  337826.6382
499       1   47    61370.67766       9391.341628  462946.4924

[500 rows x 5 columns]

In [24]:
y

0      35321.45877
1      45115.52566
2      42925.70921
3      67422.36313
4      55915.46248
          ...
495    48901.44342
496    31491.41457
497    64147.28888
498    45442.15353
499    45107.22566
Name: Car Purchase Amount, Length: 500, dtype: float64

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [28]:
X_train

array([[-1.        , -1.24034892,  0.70264523,  0.06782569,  1.14322143],
       [ 1.        , -0.74371272, -0.49583563, -0.85967664, -1.16188481],
       [-1.        ,  1.61530926, -0.55624875,  1.05701072,  0.76354398],
       ...,
       [-1.        , -0.12291746,  0.13289634, -1.67932755,  1.00304384],
       [ 1.        ,  1.49115021, -1.73041723, -0.39436898, -0.06165717],
       [ 1.        , -1.98530323,  0.53060764, -0.63911954, -0.15781448]])

In [30]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [32]:
y_pred = model.predict(X_test)

In [33]:
coefficients = pd.DataFrame({
    "Feature": X.columns,
    "Coefficient": model.coef_
}).round(2)

print(f"Intercept:, {model.intercept_:.2f}")
print(coefficients)

Intercept:, 43946.07
            Feature  Coefficient
0            Gender        21.41
1               Age      6760.45
2     Annual Salary      6686.04
3  Credit Card Debt        28.25
4         Net Worth      5073.15

In [42]:
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f'R2: {r2:.3f}')
print("MSE:", mse)
print("RMSE:", rmse)

R2: 0.999
MSE: 62253.965888987055
RMSE: 249.50744656019197